@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.separator {
    background-color: #E2E4E8;
    height: 1px;
    width: 100%;
}